div#addAreaModal.modal.fade(role = "dialog")
    div.modal-dialog
        div.modal-content
            form(role="form")
                div.form-group 
                    div.modal-header
                        button.close(type="button", data-dismiss="modal") &times;
                        h4.modal-title Add New Area
                    div.modal-body
                        label.from-control(for="input-name") Area Name:
                        input#input-name.form-control(type="text")
                    div.modal-footer
                        button#submit-add-area.btn.btn-primary(data-dismiss="modal", onclick="addArea()") Submit
                        button.btn.btn-default(data-dismiss="modal") Close